<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.daniel.mapper.OrderMapper">

    <resultMap id="order" type="OrderVO">
        <result property="tid" column="tid"/>
        <result property="userId" column="userId"/>
        <result property="aid" column="aid"/>
        <result property="cid" column="cid"/>
        <result property="partnerOrderId" column="partner_order_id"/>
        <result property="partnerUserId" column="partner_user_id"/>
        <result property="paymentMethodType" column="payment_method_type"/>
        <result property="itemName" column="item_name"/>
        <result property="itemCode" column="item_code"/>
        <result property="quantity" column="quantity"/>
        <result property="createdAt" column="created_at"/>
        <result property="approvedAt" column="approved_at"/>
        <result property="orderStatus" column="order_status"/>
    </resultMap>

    <select id="selectOrderList" resultType="me.daniel.domain.VO.OrderVO" resultMap="order">
        SELECT *
        FROM `ORDER`
        WHERE USER_ID = #{userId} AND ORDER_STATUS = '결제 승인'
    </select>

    <insert id="insertOrder">
        INSERT INTO `ORDER` (tid, user_id, aid, cid, partner_order_id,
                             partner_user_id, payment_method_type,
                             item_name, item_code, quantity, order_status)
        VALUES (#{tid},
                #{userId},
                #{aid},
                #{cid},
                #{partnerOrderId},
                #{partnerUserId},
                #{paymentMethodType},
                #{itemName},
                #{itemCode},
                #{quantity},
                #{orderStatus})
    </insert>

    <update id="updateOrder" parameterType="String">
        UPDATE `ORDER`
        SET ORDER_STATUS = '결제 취소'
        WHERE TID = #{tid}
    </update>
</mapper>