<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.daniel.mapper.ProductMapper">
    <select id="selectProduct" parameterType="me.daniel.domain.ProductVO" resultType="ProductVO">
        select * from product
        where product_no = #{productNo}
    </select>

    <select id="selectCategoryCount" resultType="int">
        select count(*) from product
        where product_category = #{productCategory} and product_status = #{productStatus}
    </select>

    <select id="selectCategoryList" resultType="ProductVO">
        select * from product
        where product_category = #{productCategory}
        limit  #{startRow}, #{rowCount}
    </select>

    <insert id="insertProduct">
        <selectKey resultType="int" keyProperty="productNo" order="BEFORE">
            select nextval('product_seq') from dual
        </selectKey>
        INSERT INTO product VALUES (
                                    #{productNo},
                                    #{productName},
                                    #{productCategory},
                                    #{productPrice},
                                    #{productStock},
                                    #{productDetail},
                                    #{productImage},
                                    #{productStatus}
        )
    </insert>

    <update id="updateProduct">
        UPDATE product
        <trim prefix="set" suffix=",">
           <if test="productName != null and productName != ''">
                product_name = #{productName},
           </if>
            <if test="productPrice != null">
                product_price = #{productPrice},
            </if>
            <if test="productStock != null">
                product_stock = #{productStock},
            </if>
            <if test="productDetail != null and productDetail != ''">
                product_detail = #{productDetail},
            </if>
            <if test="productImage != null and productImage != ''">
                product_image = #{productImage},
            </if>
            <if test="productStatus != null">
                product_status = #{productStatus}
            </if>
        </trim>
        where product_no = #{productNo}
    </update>

    <update id="deleteProduct">
        UPDATE product
        SET
        product_status = 0
        WHERE product_no = #{productNo}
    </update>
</mapper>
