<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.daniel.mapper.UserMapper">


    <select id="selectUser" resultType="UserVO">
        SELECT *
        FROM user
        WHERE user_id = #{userId}
    </select>

    <insert id="insertUser" parameterType="UserVO">
        INSERT INTO

        user
        VALUES (
                    #{userId},
                    #{userPw},
                    #{userName},
                    #{userPhone},
                    #{userEmail},
                    #{userMainAddress},
                    #{userDetailAddress},
                    #{userZipcode},
                    1,
                    2000
                           )
    </insert>

    <update id="updateUser">
        UPDATE user
        <trim prefix="set" suffixOverrides=",">
            <if test="userPw != null and userPw != ''">
                user_pw = #{user_pw},
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="userPhone != null and userPhone != ''">
                user_phone = #{userPhone},
            </if>
            <if test="userMainAddress != null and userMainAddress != ''">
                user_main_address = #{userMainAddress},
            </if>
            <if test="userDetailAddress != null and userDetailAddress != ''">
                user_detail_address = #{userDetailAddress},
            </if>
            <if test="userZipcode != null and userZipcode != ''">
                user_zipcode = #{userZipcode}
            </if>
        </trim>
            WHERE user_id = #{userId}
    </update>

    <update id="deleteUser">
        UPDATE user
        SET
        user_grade = 0
        WHERE user_id = #{userId}
    </update>
</mapper>
