<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daniel.mapper.OutBoxMapper">

    <insert id="insertOutBox">
        INSERT INTO `OUTBOX-EMAIL`(AGGREGATE_ID, AGGREGATE_TYPE, EVENT_TYPE, PAYLOAD)
        VALUES (
                #{aggregateId},
                #{aggregateType},
                #{eventType},
                #{payload})
    </insert>

</mapper>