<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footerFragment" class="navbar-wrapper">
    <div id="undefined-sticky-wrapper" class="bottomContent">
        <div class="container">
            <div>
                <div>
                    <ul class="nav navbar-nav pull-right" id="main-menu">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">리뷰</a></li>
                    </ul>
                </div>
            </div>
            <br><br><br><br>
            <div style="font-size: x-large; text-align: right">
                <span><i class="icon-call-end"></i><strong>010-1111-1111</strong></span>
            </div>
            <div class="footer-content" style="font-size: small;">
                <span>(주)닭가슴살</span>
                <br>
                <span>대표 : 김남영</span>
                <br>
                <span>사업자등록번호: [000-00-00000]<a href="">&nbsp;[사업자정보확인]</a></span>
                <br>
                <br>
                <br>
                <br>
                <span><strong><a th:href="@{/}"></a>닭가슴살</strong></span>
            </div>
            <br>
        </div>
    </div>
</footer>

</html>