<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="headerFragment" id="header" class="navbar-wrapper">
    <div id="undefined-sticky-wrapper" class="sticky-wrapper">
        <div class="home-header" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a th:href="@{/}" style="font-size: 35px; vertical-align: middle;">
                        <span>닭가슴살 쇼핑몰</span>
                    </a>
                </div>

                <div class="navbar-collapse collapse">

                        <ul th:if="${session.loginUser eq null}" class="nav navbar-nav pull-right" id="header-main-menu">
                            <li><a th:href="@{/user/login}"><i class="icon-login"></i>로그인</a></li>
                            <li><a th:href="@{/user/join}"><i class="icon-user"></i>회원 가입</a></li>
                        </ul>


                        <ul th:unless="${session.loginUser eq null}" class="nav navbar-nav navbar-right">
                            <li class="dropdown profile hidden-xs">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                   aria-expanded="false">
                                    <span class="meta">
                                        <span class="text" style="font-size: 20px;" th:if="${session.loginUser.userGrade} == 1"
                                              th:text="${session.loginUser.userName}+ ' 회원님'"></span>
                                        <span class="text" style="font-size: 20px;" th:if="${session.loginUser.userGrade} == 9"
                                              th:text="${session.loginUser.userName}+ ' 관리자님'"></span>
                                        <span class="caret"></span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu animated fadeInRight" role="menu">
                                    <li>
                                        <a th:href="@{admin/mypage}" th:if="${session.loginUser.userGrade} == 9"><span class="icon"><i
                                                class="fa fa-user"></i></span>관리자 페이지</a>
                                        <a th:href="@{/user/mypage}"
                                           th:if="${session.loginUser.userGrade} == 1 or ${session.loginUser.userGrade} == 9"><span
                                                class="icon"><i class="fa fa-user"></i></span>마이 페이지</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a th:href="@{/user/logout}">
                                            <span class="icon"><i class="fa fa-sign-out"></i></span>로그아웃
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>

                </div>
            </div>
        </div>
    </div>
</header>

</html>